In [3]:
pip install --user -r requirements.txt

Requirement already satisfied: pandas in c:\users\camilo\appdata\roaming\python\python310\site-packages (from -r requirements.txt (line 1)) (1.4.3)
Requirement already satisfied: sklearn in c:\users\camilo\appdata\roaming\python\python310\site-packages (from -r requirements.txt (line 2)) (0.0)
Requirement already satisfied: numpy in c:\users\camilo\appdata\roaming\python\python310\site-packages (from -r requirements.txt (line 3)) (1.23.0)
Requirement already satisfied: pydot in c:\users\camilo\appdata\roaming\python\python310\site-packages (from -r requirements.txt (line 4)) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\camilo\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\camilo\appdata\local\programs\python\python310\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: scikit-learn in c:\users\camilo\appdata\roaming\python\python310\site-packages (from sklearn->-r requirements.txt (line 2)) (1.1.1)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\camilo\appdata\local\programs\python\python310\lib\site-packages (from pydot->-r requirements.txt (line 4)) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\camilo\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas->-r requirements.txt (line 1)) (1.16.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\camilo\appdata\roaming\python\python310\site-packages (from scikit-learn->sklearn->-r requirements.txt (line 2)) (1.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\camilo\appdata\roaming\python\python310\site-packages (from scikit-learn->sklearn->-r requirements.txt (line 2)) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\camilo\appdata\roaming\python\python310\site-packages (from scikit-learn->sklearn->-r requirements.txt (line 2)) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\Camilo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
import numpy as np

In [5]:
# Pandas is used for data manipulation
import pandas as pd

# Read in data as pandas dataframe and display first 5 rows
df = pd.read_csv("20220621_matriz_od_ajustada.csv", encoding="utf8", dtype = { 'tipo_servicio': 'category'})
df.head(5)

,fecha,start_datetime,numero_tarjeta,valor,id_linea,id_ruta,tipo_servicio,id_vehiculo,id_dispositivo,parada_origen,...,desv_x_origen,desv_y_origen,desv_x_destino,desv_y_destino,posx_ajustada_origen,posy_ajustada_origen,posx_ajustada_destino,posy_ajustada_destino,tiempo_viaje_base,tiempo_viaje_full
0,2021-10-26,2021-10-26 06:08:35,c294bf85acad1c76fb3bc54e3ad1b355689256574a55b2...,2300.0,1465,6584,ZONAL,704419.0,220003402,099A12,...,-0.003363,0.002507,0.004088,0.000128,-74.125661,4.479036,-74.113878,4.517030,0 days 00:17:00,0 days 00:30:50.846660
1,2021-10-26,2021-10-26 07:00:16,412bdae901b48c7ff6c31c507c88dcb0fb1025910eedd5...,2300.0,1247,5506,ZONAL,257319.0,220000970,160B08,...,-0.000498,0.004288,0.001287,-0.004003,-74.159191,4.642505,-74.124463,4.667289,0 days 00:27:37,0 days 00:41:51.618245
2,2021-10-26,2021-10-26 19:33:56,f3ca52b5a4c594dbdc61c394b5ae2073b76d71f8c83094...,2300.0,1187,6276,ZONAL,102060.0,220003936,011A05,...,0.000258,0.004099,0.000433,0.004060,-74.109564,4.692994,-74.023639,4.770264,0 days 01:02:14,0 days 01:15:55.455275
3,2021-10-26,2021-10-26 08:09:51,5e4e2aa463b4b12161ae57c68398e4e27d707ca7cdeac7...,2300.0,1215,5385,ZONAL,502068.0,220005304,175A05,...,0.003704,0.001774,0.003814,0.001417,-74.120912,4.711939,-74.108603,4.667273,0 days 00:18:42,0 days 00:32:22.023203
4,2021-10-26,2021-10-26 06:37:27,dfc7b558fa38469e0ec599401925307aafe5d8d9071eeb...,2300.0,1136,5974,ZONAL,507048.0,220005021,170B05,...,0.003773,0.002110,0.001039,-0.003842,-74.105332,4.700122,-74.089702,4.679111,0 days 00:01:03,0 days 00:14:55.786588

In [6]:
print('The shape of our features is:', df.shape)

The shape of our features is: (215481, 44)

In [7]:
# List of columns
df.columns

Index(['fecha', 'start_datetime', 'numero_tarjeta', 'valor', 'id_linea',
       'id_ruta', 'tipo_servicio', 'id_vehiculo', 'id_dispositivo',
       'parada_origen', 'parada_siguiente', 'id', 'parada_destino',
       'posx_parada_origen', 'posy_parada_origen', 'posx_parada_destino',
       'posy_parada_destino', 'hour', 'minute', 'second', 'minute5',
       'stop_id_origen', 'stop_code_origen', 'stop_name_origen',
       'stop_id_destino', 'stop_code_destino', 'stop_name_destino', 'route_id',
       'trip_id', 'end_datetime', 'rand_dist_origen', 'rand_angulo_origen',
       'rand_dist_destino', 'rand_angulo_destino', 'desv_x_origen',
       'desv_y_origen', 'desv_x_destino', 'desv_y_destino',
       'posx_ajustada_origen', 'posy_ajustada_origen', 'posx_ajustada_destino',
       'posy_ajustada_destino', 'tiempo_viaje_base', 'tiempo_viaje_full'],
      dtype='object')

In [8]:
features = df[["posx_ajustada_origen","posy_ajustada_origen", "posx_ajustada_destino", "posy_ajustada_destino","tiempo_viaje_full"]]
#Casting dates
features["start_datetime"] = pd.to_datetime(df["start_datetime"])
features["tiempo_viaje_full"] = pd.to_timedelta(df["tiempo_viaje_full"])

#separar hora, minuto y segundo
features["start_hour"] = features["start_datetime"].dt.hour
features["start_minute"] = features["start_datetime"].dt.minute
features["start_second"] = features["start_datetime"].dt.second

#tiempo de viaje en horas
features["tiempo_viaje_full"] = features["tiempo_viaje_full"].apply(lambda x: x.total_seconds() / 3600)

#convertir la hora a decimal
features["start_hour_decimal"] = features["start_hour"]+(features["start_minute"]/60)+(features["start_second"]/3600)
features.tiempo_viaje_full.dtypes

C:\Users\Camilo\AppData\Local\Temp\ipykernel_7244\36176587.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["start_datetime"] = pd.to_datetime(df["start_datetime"])
C:\Users\Camilo\AppData\Local\Temp\ipykernel_7244\36176587.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["tiempo_viaje_full"] = pd.to_timedelta(df["tiempo_viaje_full"])
C:\Users\Camilo\AppData\Local\Temp\ipykernel_7244\36176587.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["start_hour"] = features["start_datetime"].dt.hour
C:\Users\Camilo\AppData\Local\Temp\ipykernel_7244\36176587.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["start_minute"] = features["start_datetime"].dt.minute
C:\Users\Camilo\AppData\Local\Temp\ipykernel_7244\36176587.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["start_second"] = features["start_datetime"].dt.second
C:\Users\Camilo\AppData\Local\Temp\ipykernel_7244\36176587.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["tiempo_viaje_full"] = features["tiempo_viaje_full"].apply(lambda x: x.total_seconds() / 3600)
C:\Users\Camilo\AppData\Local\Temp\ipykernel_7244\36176587.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["start_hour_decimal"] = features["start_hour"]+(features["start_minute"]/60)+(features["start_second"]/3600)

dtype('float64')

In [9]:
np.random.seed(1337)
ndf = len(features)
index_train = np.random.choice(range(ndf), int(0.8*ndf), replace= False)
index_test = np.asarray(list(set(range(ndf))- set(index_train)))

model = features.iloc[index_train]
not_seen = features.iloc[index_test]

In [10]:
model.head()

,posx_ajustada_origen,posy_ajustada_origen,posx_ajustada_destino,posy_ajustada_destino,tiempo_viaje_full,start_datetime,start_hour,start_minute,start_second,start_hour_decimal
155204,-74.053966,4.683920,-74.047096,4.696558,0.283183,2021-10-26 11:08:18,11,8,18,11.138333
182066,-74.101893,4.738586,-74.065788,4.689024,0.569838,2021-10-26 07:42:35,7,42,35,7.709722
70583,-74.114223,4.706174,-74.077132,4.611081,1.201912,2021-10-26 07:02:50,7,2,50,7.047222
173661,-74.159821,4.613262,-74.119321,4.660878,0.672979,2021-10-26 04:26:06,4,26,6,4.435000
76705,-74.079979,4.684758,-74.124268,4.531817,1.153748,2021-10-26 07:23:12,7,23,12,7.386667

In [11]:
from sklearn.model_selection import train_test_split

x=model[['start_hour_decimal', "posx_ajustada_origen","posy_ajustada_origen", "posx_ajustada_destino", "posy_ajustada_destino"]]  # Features
y=model["tiempo_viaje_full"]  # Labels

# Split dataset into training set and test set
train_features, test_features, train_labels, test_labels = train_test_split(x, y, test_size=0.3) # 70% training and 30% test

In [12]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (120668, 5)
Training Labels Shape: (120668,)
Testing Features Shape: (51716, 5)
Testing Labels Shape: (51716,)

In [13]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model 
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Train the model on training data
rf.fit(train_features, train_labels);

In [35]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)

# Calculate the absolute errors
errors = abs(predictions - test_labels)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.09 degrees.

In [39]:
from sklearn.metrics import r2_score, mean_squared_error

#metricts to compare with other models
mse = mean_squared_error(test_labels, predictions)
rmse = mse**(0.5)
r2 = r2_score(test_labels, predictions)
print("MSE: %.2f" % mse)
print("RMSE: %.2f" % rmse)
print("R_CUADRADO: %.2f" % r2)

MSE: 0.02
RMSE: 0.13
R_CUADRADO: 0.89

In [14]:
import joblib

In [15]:
filename = "model.sav"
joblib.dump(rf, filename)

['model.sav']

In [16]:
test_features.head()

,start_hour_decimal,posx_ajustada_origen,posy_ajustada_origen,posx_ajustada_destino,posy_ajustada_destino
33028,8.019167,-74.141051,4.659379,-74.151210,4.680536
196647,5.859722,-74.142247,4.713624,-74.128486,4.649714
101068,14.919167,-74.129727,4.712102,-74.096442,4.691789
118332,6.816667,-74.145913,4.707483,-74.132899,4.706067
193595,19.356944,-74.102161,4.578351,-74.175091,4.610389

In [17]:
predictions = rf.predict(test_features.head())